@using AC.Placeholder.Features
@using AC.Placeholder.Features.Contents
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@inject IContentService _contentService;

@{
    Layout = null;
    var content = _contentService.Get(Model);
    if (content == null)
    {
        return;
    }

    var styles = Model.Styles();
}

<section class="@(styles.SectionCssClass)">
    <div class="@(styles.CssClass)">
        @Html.Raw(content.RawContent)
    </div>
</section>