@using Umbraco.Cms.Web.Common.PublishedModels;
@using AC.Placeholder.Features
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = null;
}

<div class="@(Model.Styles().CssClass)">
    <div class="row">
        <div class="inner">
            <iframe src="@Html.Raw(Model.Value("embedCode"))" width="100%"  height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
</div>