@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = null;
}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h3>
                Blog Posts & News
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-lg-4">
            <div class="card card-post">
                <figure class="equal equal-50">
                    <a class="image image-fade" href="post.html" style="background-image: url(assets/images/news-1.jpg)"></a>
                </figure>
                <div class="card-body">
                    <span class="eyebrow text-muted">22 March 2019</span>
                    <h4 class="card-title"><a href="post.html">The Shoes That will Instantly Update Any Outfit</a></h4>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <div class="card card-post">
                <figure class="equal equal-50">
                    <a class="image image-fade" href="post.html" style="background-image: url(assets/images/news-1.jpg)"></a>
                </figure>
                <div class="card-body">
                    <span class="eyebrow text-muted">22 March 2019</span>
                    <h4 class="card-title"><a href="post.html">The Shoes That will Instantly Update Any Outfit</a></h4>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <div class="card card-post">
                <figure class="equal equal-50">
                    <a class="image image-fade" href="post.html" style="background-image: url(assets/images/news-1.jpg)"></a>
                </figure>
                <div class="card-body">
                    <span class="eyebrow text-muted">22 March 2019</span>
                    <h4 class="card-title"><a href="post.html">The Shoes That will Instantly Update Any Outfit</a></h4>
                </div>
            </div>
        </div>
    </div>
</div>