@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "componments.cshtml";
}

<div class="@(Model.Styles().CssClass)">
    <div class="row">
        <div class="inner">
            @Html.Raw(Model.Value("content"))
        </div>
    </div>
</div>