@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<footer class="pt-5 bg--drak">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12">
                <div class="row">
                    <div class="col-md-8">
                        <p>
                            This is a demo site about the AC.Placeholder packages
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                    <h4>Quick Links</h4>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><a href="about.html">About</a></li>
                            <li class="list-group-item"><a href="contact.html">Contact Us</a></li>
                            <li class="list-group-item"><a href="faq.html">FAQ</a></li>
                            <li class="list-group-item"><a href="blog.html">Blog</a></li>
                            <li class="list-group-item"><a href="text.html">Terms of Use</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-12">
                <div class="row">
                    <div class="col-md-8">
                        <form class="align-middle">
                            <div class="form-group">
                                <label>Subscribe</label>
                                <input type="email" class="form-control" name="email"/>
                            </div>
                            <div class="btn-group">
                                <button class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <p>
                            Copyright &copy; Achievecreative 2019
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>