@using AC.Placeholder.Extensions
@using Umbraco.Extensions
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    var sitesetting = Model.SiteSettings();
}

<meta charset="utf-8">
<title>@(sitesetting.GetValue<string>("siteName")) - @(Model.Value("title", defaultValue: Model.Name))</title>
<meta name="keywords" value="@(Model.Value("pageKeywords"))"/>
<meta name="description" value="@(Model.Value("pageDescription"))" />